In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('taxi.csv')

In [3]:
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [4]:
import pickle

In [11]:
data_x=data.iloc[:,0:-1].values    #give a numpy array not a data frame
data_y=data.iloc[:,-1].values      #Because we used data.values

In [14]:
data_y

array([192000, 190400, 191200, 177600, 176800, 178400, 180800, 175200,
       174400, 173920, 172800, 163200, 161600, 161600, 160800, 159200,
       148800, 115696, 147200, 150400, 152000, 136000, 126240, 123888,
       126080, 151680, 152800], dtype=int64)

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data_x,data_y,test_size=0.3,random_state=0)

In [17]:
#immport the regression model algorithm
from sklearn.linear_model import LinearRegression

In [18]:
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
print("Training_score:",reg.score(x_train,y_train))
print("Testing_score:",reg.score(x_test,y_test))

Training_score: 0.9428364724316813
Testing_score: 0.9157379222488221

In [24]:
pickle.dump(reg,open('texi.pkl','wb'))

In [27]:
model=pickle.load(open('texi.pkl','rb'))

In [29]:
print(model.predict([[80,1770000,6000,85]]))

[153448.45038985]